@charset "utf-8";

table {
  td {
    padding: 1.2rem !important;

    color: #525359;
    vertical-align: middle !important;
  }

  th {
    padding: 1.2rem !important;

    color: #1b2969 !important;
    font-weight: normal;
  }

  .table-active,
  .table-active > th,
  .table-active > td {
    background-color: rgba(175, 175, 230, 0.075);
  }

  &-v-middle td {
    vertical-align: middle !important;
  }

  tbody tr.highlight {
    background-color: #f3f3f3 !important;
  }

  tbody tr:hover {
    background-color: #f3f3f3 !important;
  }
}
