<mat-card class="general-card">
  <mat-card-content class="text-center">
    <div class="action-button-group">
      <button mat-icon-button [routerLink]="['/business/', business.node.business.id]" style="height: 30px;">
        <mat-icon class="mat-18" style="color: grey; font-size: 17px;">edit</mat-icon>
      </button>
      <button mat-icon-button color="accent" (click)="delete(deleteConfirm)" style="height: 30px;">
        <mat-icon class="mat-18" style="font-size: 17px;">delete</mat-icon>
      </button>
    </div>
    <div class="cursor-pointer" [routerLink]="['/store']" [state]="{ businessId:business.node.business.id}">
      <img class="mb-3" [src]="business.node.business.image ? business.node.business.image : defaultImage" width="150px" height="150px" alt="Logo">
      <div class="pl-3 pr-3">
        <span class="company-name mb-3">{{business.node.business.name}}</span>
        <span class="company-address">{{business.node.business.description.longContent}}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #deleteConfirm let-modal>
  <div class="modal-body d-flex justify-content-center mt-5 mb-2">
    <span>Do you want to delete this business?</span>
  </div>
  <div class="modal-footer d-flex justify-content-center border-0 mb-2">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.close('no')">No</button>
    <button type="submit" class="btn btn-warning text-white" (click)="modal.close('yes')">Yes</button>
  </div>
</ng-template>
