<div class="login-container">


  <img alt="" src="assets/images/DeliverAiwhite.svg">

  <div class="login-box general-box my-4">
    <div class="modal-header justify-content-center d-md-block d-none">
      <h3 class="text-dark font-weight-normal text-center p-2">Forgot Password?</h3>
    </div>
    <div class="modal-body text-center">

      <form (ngSubmit)="submit()" [formGroup]="form">
        <div class="form-group">
          <div class="form-control-prepend">
            <span class="prepend-item"><i class="fas fa-envelope"></i></span>
            <input class="form-control"
            [ngClass]="{
              'is-invalid': (form.get('email').touched || form.get('email').dirty) && form.get('email').invalid,
              'is-valid': form.get('email').valid}"
            formControlName="email" placeholder="E-mail" type="text">
          </div>
        </div>

        <div class="form-group">
          <button [disabled]="isLoading || !form.valid" class="btn btn-warning w-100 text-white d-flex align-items-center justify-content-center" type="submit">
            <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>
            <span>RESET PASSWORD</span>
          </button>
        </div>
      </form>
      <div class="form-group">
        <a [routerLink]="['/auth/login']" class="text-primary">Sign In</a>
      </div>

    </div>
  </div>

</div>

