@charset "utf-8";

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  .login-box {
    width: 100%;
    min-width: 300px;
    max-width: 400px;
  }

}

@media (max-width: 768px) {
  .login-container {
    .login-box {
      max-width: 100%;

      background-color: transparent;
      box-shadow: none;

      label,
      a {
        color: #fff !important;
      }

      input,
      button {
        height: 46px;
      }

      .form-check-remember {
        height: auto;

        border-radius: none;
      }

      .prepend-item {
        top: 15px;
        left: 13px;
      }
    }
  }
}
