<div class="p-4">
  <div class="mat-elevation-z8 service-content mb-4">
    <div class="d-flex justify-content-center pt-4 pb-4">
      <h4 class="text-secondary">Service</h4>
    </div>
    <div class="divider-el"></div>
    <div class="p-4">
      <div class="d-flex justify-content-between pl-md-5 pr-md-5 pt-2 pb-2">
        <div>
          <span class="text-secondary d-md-block d-none">Acception Delivery Orders</span>
          <span class="text-secondary d-sm-block d-md-none">Delivery Orders</span>
        </div>
        <div>
          <ui-switch defaultBgColor="red" checkedLabel="Yes" uncheckedLabel="No" checkedTextColor="#ffffff" uncheckedTextColor="#ffffff" [(ngModel)]="deliveryEnable" (change)="onChange($event, 'delivery')"></ui-switch>
        </div>
      </div>
      <div class="d-flex justify-content-between pl-md-5 pr-md-5 pt-2 pb-2">
        <div>
          <span class="text-secondary d-md-block d-none">Acception Pickup Orders</span>
          <span class="text-secondary d-sm-block d-md-none">Pickup Orders</span>
        </div>
        <div>
          <ui-switch defaultBgColor="red" checkedLabel="Yes" uncheckedLabel="No" checkedTextColor="#ffffff" uncheckedTextColor="#ffffff" [(ngModel)]="pickupEnable" (change)="onChange($event, 'pickup')"></ui-switch>
        </div>
      </div>
    </div>
  </div>

  <div class="service-content text-center bg-transparent">
    <div class="btn-group btn-group-toggle" ngbRadioGroup name="type" [(ngModel)]="type">
      <label class="btn-outline-primary shadow-none" ngbButtonLabel>
        <input type="radio" ngbButton value="operating" (change)="switchOperatingHours()"> Operating Hours
      </label>
      <label class="btn-outline-primary shadow-none" ngbButtonLabel>
        <input type="radio" ngbButton value="delivery" (change)="switchOperatingHours()"> Delivery Hours
      </label>
      <label class="btn-outline-primary shadow-none" ngbButtonLabel>
        <input type="radio" ngbButton value="pickup" (change)="switchOperatingHours()"> Pickup Hours
      </label>
    </div>
  </div>

  <div class="mat-elevation-z8 service-content mt-md-5 mt-3">
    <div class="text-center pt-4 pb-4">
      <h4 *ngIf="type == 'operating'" class="text-secondary">Operating Hours</h4>
      <h4 *ngIf="type == 'delivery'" class="text-secondary">Delivery Hours</h4>
      <h4 *ngIf="type == 'pickup'" class="text-secondary">Pickup Hours</h4>
    </div>
    <div class="divider-el"></div>
    <form [formGroup]="operatingHoursForm">
      <div formArrayName="workingHours">
        <div [formGroupName]="i" *ngFor="let workingHour of operatingHoursForm.controls['workingHours']['controls']; let i = index" class="workinghours-content d-flex justify-content-between align-items-center mb-3">
          <span>{{ operatingHoursForm.get('workingHours')['controls'][i].value.dayOfWeek }}</span>
          <div class="d-flex justify-content-center align-items-center">
            <ui-switch (change)="onEnableStateChange($event, i)" [checked]="operatingHoursForm.get('workingHours')['controls'][i].value.dayOfWeekEnable" checkedLabel="Open" uncheckedLabel="Closed" checkedTextColor="#ffffff" uncheckedTextColor="#ffffff" defaultBgColor="#ff0000"></ui-switch>
            <div class="form-group m-0 ml-3 mr-3" *ngIf="operatingHoursForm.get('workingHours')['controls'][i].value.dayOfWeekEnable">
              <select class="form-control" formControlName="startHour" name="startHour" style="width: 100px;">
                <option *ngFor="let item of timesData" [value]="item.value">{{item.time}}</option>
              </select>
            </div>
            <div class="form-group m-0" *ngIf="operatingHoursForm.get('workingHours')['controls'][i].value.dayOfWeekEnable">
              <select class="form-control" formControlName="endHour" name="endHour" style="width: 100px;">
                <option *ngFor="let item of timesData" [value]="item.value">{{item.time}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

    </form>
    <div class="divider-el"></div>
    <div class="text-right pr-md-4 pr-4 pb-4 mt-2 d-flex justify-content-end">
      <button class="btn btn-primary pl-4 pr-4 d-flex align-items-center justify-content-center" [disabled]="isWorkingHoursLoading" (click)="save()">
        <span *ngIf="isWorkingHoursLoading" class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>
        <span>Save</span>
      </button>
    </div>

  </div>

  <div class="mat-elevation-z8 service-content mb-4 mt-md-5 mt-3">
    <div class="d-flex justify-content-center pt-4 pb-4">
      <h4 class="text-secondary">Operation Settings</h4>
    </div>
    <div class="divider-el"></div>
    <div class="p-4">
      <p style="padding-left: 30px;">Set the default time needed for preparing and delivering orders</p>
      <form class="d-flex justify-content-between" [formGroup]="etaForm">
        <div class="form-group">
          <label>Preparation (minutes)</label>
          <div class="d-flex">
            <input type="text" class="form-control" formControlName="preparation">
          </div>
        </div>
        <div class="form-group">
          <label>Preparation + delivery (minutes)</label>
          <div class="d-flex">
            <input type="text" class="form-control" formControlName="preparationAndDelivery">
          </div>
        </div>
      </form>
    </div>
    <div class="divider-el"></div>
    <div class="text-right p-3">
      <button class="btn btn-primary pl-4 pr-4" [disabled]="isETASaving || !etaForm.valid" (click)="saveETA()">
        <span *ngIf="isETASaving" class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>
        <span>Save</span>
      </button>
    </div>
  </div>
</div>


