:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .order-statuses {
    a:hover {
      color: #ffffff !important;

      background-color: #111a43;
    }

    .order-statuses--active {
      color: #ffffff !important;

      background-color: #111a43;
    }
  }
}
