<header class="flex-wrap">
  <h1 class="mr-4 mb-1">Create Business</h1>
</header>

<div class="main-content">
  <div class="form-content pt-4" style="width: 600px;">
    <mat-card>
      <mat-card-content>
        <div class="file-drop-area">
          <input id="avatar" class="file-input" type="file" accept=".png, .jpg, .jpeg" (change)="onFileChange($event)" #fileInput>
          <img src="{{avatar}}" style="width: 250px; height: 250px;"/>
        </div>
        <div class="text-center">
          <div class="pb-2"><a href="#" style="color: #3647c9;">Upload
            another logo.</a></div>
            <div class="d-flex justify-content-center">
              <p class="text-center" style="color: #9b9b9b; font-size: 13px; width:
                165px;">PNG, JPG, SVG, GIF max file size 2 Mb.</p>
            </div>
            <div>
              <span class="pb-2" style="color: #9b9b9b; font-size: 13px;">White or
                transparent background.</span>
            </div>
        </div>
        <form [formGroup]="createBusinessForm">
          <input type="hidden" class="form-control" formControlName="id" name="id"
            id="id">
          <div class="form-group">
            <label>Business</label>
            <input type="text" class="form-control" formControlName="business"
              name="business" id="business">
          </div>
          <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" formControlName="description"
              name="description" id="description">
          </div>
          <div class="form-group">
            <label>Website</label>
            <input type="text" class="form-control" formControlName="website"
              name="website" id="website">
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <div class="divider-el"></div>
        <div class="button-group d-flex justify-content-end">
          <button *ngIf="isAddMode" class="btn btn-warning text-white d-flex align-items-center justify-content-center" [disabled]="isLoading || !createBusinessForm.valid" (click)="create()">
            <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>
            <span>Save</span>
          </button>
          <button *ngIf="!isAddMode" class="btn btn-warning text-white d-flex align-items-center justify-content-center" [disabled]="isLoading || !createBusinessForm.valid" (click)="update()">
            <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>
            <span>Save</span>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
